src/main/mule/gitsept7ambatch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1dfc5338-3059-49ca-9e0f-5e23916aadc8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitsept7ambatchFlow" doc:id="ae74a3b0-fa80-45b6-8720-b45da6b4257f" >
		<http:listener doc:name="Listener" doc:id="55035e06-2421-4428-bb9f-c45bf68f8d9a" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="b85d20a2-ceeb-4d61-9ffc-1446833d0599" />
	</flow>
</mule>
